//vars
$white:#f6f6f6;
$blue:#33c1e3;
$red:#e85f61;
$footer: #414141;


//layouts
@import "misc/fonts";
@import "misc/mixin";
@import "misc/normalize";
@import "misc/adjustment";

//style
@import "sections/products-section__header";
@import "sections/products-section__content__product-info";
@import "sections/products-section__content__photo";
@import "sections/products-section__content__desc";
@import "sections/why-section";
@import "sections/delivery-section";
@import "sections/team-section";
@import "sections/team-section-form";
@import "sections/accordion-section";
@import "sections/footer-section";
@import "sections/map-section";
