//vars
$white:#f6f6f6;
$blue:#33c1e3;
$red:#e85f61;
$footer: #414141;

//layout
@import "misc/fontawesome";
@import "misc/fonts";
@import "misc/mixin";
@import "misc/normalize";
@import "misc/adjustment";


//style
@import "sections/hello";
@import "sections/header";
@import "sections/content";
@import "sections/content_about";
@import "sections/content_career";
@import "sections/content_portfolio";
@import "sections/footer";