// adjustment vars

$footer-height: 50px;
$container-width: 940px;


// adjustment styles
html{
    font-size: 16px;
}

html{
    @include desktop{
        font-size: 16px;
    }
    
    @include laptop{
        font-size: 15px;
    }
    
    @include tablets{
        font-size: 14px;
    }
    
    @include phones{
        font-size: 12px;
    }
}

body, html{
    height: 100%;
    width: 100%;
}

*{
    box-sizing: border-box;
}

body{
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
	background: $white;
    min-width: 320px;
}

.wrapper{
    min-height: 100%;
    position: relative;
    padding-bottom: 20px;

}

.wrapper:after{
    content: "";
    display: block;
    height: $footer-height;
    overflow: hidden;
}
	

.container{
   max-width: 960px;
   @extend %clearfix;
   margin: 0 auto;
   padding: 0 rem(10px);
   
    @include desktop{  
        width: 970px; 
    } 
    
    @include laptop{  
        width: auto; 
    } 
    
    @include tablets{  
        
        width: auto; 
        padding: 0 rem(20px);
    }
    
    @include phones{  
        width: auto; 
       
    }
    
    
//    @include phones{  
//        width: auto; 
//    } 
    
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
}

footer{
    height: $footer-height;
    width: 100%;
    margin-top: -$footer-height;
    position: relative; 
    
    @include phones{  
        height: rem_ph(80px);
    }
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}