%clearfix{
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}


@function rem($px){
    
    @return $px/16px + 0rem;
    
}

@function rem_lap($px){
    
    @return $px/15px + 0rem;
    
}


@function rem_tab($px){
    
    @return $px/14px + 0rem;
    
}

@function rem_ph($px){
    
    @return $px/12px + 0rem;
    
}

@mixin desktop{

    @media screen and(max-width: 1200px){
        
        @content;
        
    }

}


@mixin laptop{

    @media screen and(max-width: 992px){
        
        @content;
        
    }

}

@mixin tablets{

    @media screen and(max-width: 768px){
        
        @content;
        
    }

}

@mixin phones{

    @media screen and(max-width: 480px){
        
        @content;
        
    }

}