.portfolio{
    
    @include laptop{
        width: 71%;
//        text-align: center;
    }
    
    @include tablets{
        width: auto;
    }
    
}

.portfolio__list{
    font-size: 0;
    margin-left: -3%;
    
    @include laptop{
        width: auto;
        text-align: left;
        
//        list-style: none;
//        column-width: auto;
//        column-gap: 220px;
    }
    
}



.portfolio__item{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 0 20px 3%;
    
    *{
        font-size: 14px;
    }
    
    @include laptop{
        
        width: 200px;
    }
    
    @include phones{  
        
        display: block;
        width: 100%;
        margin: 20px auto;
    }
    
}

.portfolio__link{
    display: block;
    box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 10px;
    text-decoration: none;
    transition: all .5s;
    
     &:hover{
        box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
         
         .portfolio__title{
             color: $red;
         }
    }
}

.portfolio__photo-pic{
    display: block;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    
    @include phones{  
        
        display: block;
        width: 100%;
    }
    
}

.portfolio__desc{
    padding: 20px 20px;
}

.portfolio__title{
    @include fira(regular, 21px);
    color: $blue;
    margin: 0 0 7px 0;
    transition: all .5s;
}

.portfolio__text-content{
    @include fira(light, 14px);
    font-weight: 600;
    color: #414141;
    margin: 0 0 20px 0;
}

.portfolio__type{
    
    @include fira(medium, 14px);
    color: #b9b9b9;
}

.portfolio__type-icon{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}