/* 
 * ======================================= CONTENT =======================================
 */
.content {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.sidebar {
  width: rem(220px);
  float: left;
    
    @include tablets{
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    
    @include phones{
        
        margin-bottom: 0;
    }
    
    
    
}

.page-content{
    width: rem(700px);
    float: right;
    @extend %clearfix;
    
    
    @include laptop{
        width: rem(560px);
    }
    
    @include tablets{
        float: none;
        width: 100%;
    }
    
    @include phones{
        width: 100%;
    }
}


.nav {
  text-align: right;
    
  
}

.nav__item{
    height: rem(45px);
    
    @include tablets{
        display: inline-block;
        vertical-align: middle;
    }
    
    @include phones{
        display: inline-block;
        vertical-align: middle;
    }
       
    
}

.nav__list{
    
    
    @include tablets{
        text-align: left;
    }
    
     @include phones{  
       width: 100%;
       text-align: justify;
         
        &:after{
            content: "";
            display: inline-block;
            width: 100%;
            height: 0;
        }
    }
    
    
}

.nav__link {
  display: block;
  color: #414141;
  text-decoration: none;
  padding: rem(5px) rem(25px) rem(5px) 0;
  @include fira(light, rem(18px));
  font-weight: 600;
  border-right: rem(6px) solid transparent;
  transition: all .5s;
    
    @include tablets{
        padding: rem(5px) rem(22px) rem(5px) 0;
    }
    
  @include phones{
    padding: rem_ph(5px) 0;
   }
    
}

.nav__link_active{
    border-right: rem(6px) solid $blue;
    
    @include tablets{
        border: none;
    }
    
}

.nav__icon {
    margin-right: rem(10px);
    @include phones{
        display: none;
   }
    
    
}

.nav__link:hover{
   color: $blue;
    
}

.nav__link_active {
  color: #33c1e3;
  @include fira(bold, rem(18px));
  
}

.title{
    @include fira(medium, rem(35px));
    color: #414141;
    margin-bottom: rem(20px);
    line-height: 1;
    
    @include phones{  
        text-align: center;
    }
    
}


