/* 
 * ======================================= ABOUT-CONTENT =======================================
 */
.about{
    @extend %clearfix;
    
    @include laptop{
        width: 71%;
    }
    
    @include tablets{
        width: 100%;
    }
    
}

.about__left{
    float: left;
    width: rem(300px);
    text-align: center;
    padding-left: rem(5px);
    
    @include laptop{
        width: 35%;
    }
    
    @include tablets{
        width: 35%;
        
    }
    
    @include phones{  
        float: none;
        display: block;
        width: 100%;
    }
    
}

.about__pic{

    overflow: hidden;
    border-radius: 50%;
    border: rem(5px) solid #fff;
    display: inline-block;
    width: rem(230px);
    height: rem(230px);
    
    
    
    @include laptop{
//        width: rem_lap(170px);
//        height: rem_lap(170px);
        width: auto;
        height: auto;
        border-radius: 50%;
    }
    
    @include tablets{
//        width: rem_tab(165px);
//        height: rem_tab(165px);
        width: auto;
        height: auto;
        border-radius: 50%;
    }
    
    @include phones{  
        width: rem_ph(165px);
        height: rem_ph(165px);
    }
    
    
}

.about__main-img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    
    
    
}

.about__right{
    float: right;
    width: rem(380px);
    
     @include laptop{
        width: 60%;
    }
    
    @include tablets{
        width: 60%;
    }
    
    @include phones{  
        float: none;
        display: block;
        width: 100%;
    }
}

.about__desc{
    height: rem(290px);
    overflow: auto;
    
    @include phones{  
        overflow: visible;
    }
    

}



.about__desc{
    overflow: auto;
    height: rem(290px);
    margin-bottom: rem(56px);
    
    @include phones{  
        overflow: visible;
    }
    
}

.about__desc{
    p{
        @include fira(light, rem(18px));
//        font-weight: 600;
        margin-top: 0;
        color: #727272;
        
         
       
    }
}

.about__btns {
  
  text-align: right;
    
    @include phones{  
        display: block;
        text-align: center;
    }
    
}

.button_about {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 14px;
  text-align: center;
  height: 40px;
  width: 173px;
  border: 2px solid $red;
  border-radius: 50px;
  text-decoration: none;
  color: #e86567;
  @include fira(open, 14px);
  transition: all .5s;
}

.button_about:hover {
  color: #fff;
  background-color: #e86567;
  border: 2px solid #e86567;
}