/* 
 * ======================================= CAREER-CONTENT =======================================
 */

.career{
    @extend %clearfix;
    width: 75%;
    
    
    @include laptop{
        width: 71%;
    }
    
    @include tablets{
        width: 100%;
    }
}

.career__left{
    float: left;
    width: 240px;
    text-align: center;
    
    
    @include laptop{
        width: 30%;
    }
    
    @include phones{  
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    
    
}

.career__pic{
    
    overflow: hidden;
    display: inline-block;
    
    width: rem(220px);
    height: rem(220px);
    border-radius: 10px;
    
    @include laptop{
//        width: 160px;
//        height: 160px;
        width: auto;
        height: auto;
        
    }
    
    @include tablets{
//        width: rem_tab(220px);
//        height: rem_tab(220px);
        width: auto;
        height: auto;
    }
    
    @include phones{  
        width: rem_ph(220px);
        height: rem_ph(220px);
        
    }
    
}

.career__main-img{
    
    display: block;
    max-width: 100%;
    max-height: 100%;
    
}

.career__right{
    
    float: right;
    width: 457px;
    text-align: right;    
    
    @include laptop{
        width: 67%;
        text-align: right;
    }
    
    @include tablets{
        width: 67%;
        text-align: right;
    }
    
    @include phones{
        text-align: left;
        float: none;
        display: block;
        width: 100%;
    }
    
}

.career__item{
    
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    
    
    &:first-child {
        .career__block{
            &:before{
                display: none;
            }
        }
    }
        
       
    
    &:last-child{
        .career__block{
            &:after{
                display: none;
            }
        }
    }
    
    @include laptop{
        width: 77%;
    }
    
    @include phones{
        
        width: 100%;
    }
    
}

.career__block{
    width: 380px;
    padding: 15px 20px;
    color: #727272;
    border-radius: 10px;
	display: inline-block;
	position: relative;
	text-align: left;
    cursor: pointer;
    background-color: #fff;
    transition: all .5s;
    
    box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    
    @include laptop{
        width: 100%;
    }
    
    
    &:before, &:after{
        content: "";
        display: block;
        width: 1px;
        background: #cacaca;
        position: absolute;
        left: -20px;
        
        @include phones{ 
            display: none;
        }
    }
    
    &:before{
        top:0;
        bottom: 50%;
        margin-bottom: 10px;
        
        @include phones{ 
            display: none;
        }
    }
    
     &:after{
        bottom:-22px;
        top: 50%;
        margin-top: 10px;
         
         @include phones{ 
            display: none;
        }
    }
    
    &:hover{
        background: $blue;
        color: #fff;
        
        
        
        .career__year{
            color: $blue;
            font-weight: bold;
            
        }
        
        .career__year:after{
            box-shadow: 0 0 0 5px #94e0f2;
            -webkit-box-shadow: 0 0 0 5px #94e0f2;
            -moz-box-shadow: 0 0 0 5px #94e0f2;
            
        }
    
    }
    
    
}


.career__year{
    @include fira(regular, 14px);
    position: absolute;
    right: 100%; 
    text-align: left;
    left: -75px;
    top: 50%;
    line-height: 26px;
    margin-top: -13px;
    margin-right: 28px;
    transition: all .3s;
    
    @include phones{ 
            display: none;
        }
    
    
    &:after{
        content: "";
        position: absolute;
        background: $blue;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        right: -14px;
        top: 50%;
        margin-top: -5px;
        z-index: 2;
        transition: all .5s;
        
        @include phones{ 
            display: none;
        }
        
    }
}

.career__company{
    @include fira(regular, 21px);
    
}

.career__other-text{
    @include fira(light, 18px);
}