/* 
 * ======================================= FOOTER =======================================
 */
.footer{
    background-color: $footer;
    
    
}

.footer__left{
    float: left;
    height: 100%;
    position: relative;
    
    @include phones{  
        float: none;
    }
}

.footer__right{
    float: right;
    height: 100%;
    position: relative;
    
    @include phones{  
        float: none;
    }
    
}

.copyright{
    display: inline-block;
    vertical-align: middle;
    padding: rem(14px) 0;
    color: #727272;
    @include fira(light, rem(14px));
    font-weight: 600;
    
    @include phones{  
        display: block;
        text-align: center;
    }
}

.socials__block{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding: rem(7px) 0;
    
     @include phones{  
        display: block;
        text-align: center;
    }
    
}

.social{
    
    display: inline-block;
//    border-radius: 50%;
    overflow: hidden;
    width: 31px;
    height: 30px;
    background: url('/img/icons/sprite.png') 0 0 no-repeat;
    margin-left: rem(3px);
    
   
    
    
}


.social_fb{
    
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    
    &:hover{
        background: url('/img/icons/sprite-hover.png') 0 0 no-repeat;
    }
}

.social_vk{
    
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    
    background-position: -130px 0;
    
    &:hover{
        background: url('/img/icons/sprite-hover.png') 0 0 no-repeat;
        background-position: -130px 0;
    }
}

.social_tw{
    
    
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    
    background-position: -269px 0;
    
    &:hover{
        background: url('/img/icons/sprite-hover.png') 0 0 no-repeat;
        background-position: -269px 0;
    }
}