/* 
 * ======================================= HEADER =======================================
 */
.header{
    box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-bottom: rem(24px);
    min-height: rem(79px);
    
    @include tablets{  
        
        margin-bottom: 20px;
        
    }
    

}

.header__left{
    float: left;
}

.header__right{
    float: right;
}

.header__left, .header__right{
    height: 100%;
    position: relative;
}

.user{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: rem(10px) 0;
   
}

.user__avatar{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    overflow: hidden;
    margin-right: rem(19px);
    max-width: rem(62px);
    max-height: rem(62px);
}

.user__mini-pic{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.user__name{
    display: inline-block;
    vertical-align: middle;
    color: #414141;
    @include fira(light, rem(16px));
    font-weight: 600;
}

.contacts__dropdown-wrapper:before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: rem(16px);
}

.contacts{
    position: relative;
    margin-top: rem(30px);
    
    @include phones{  
        
        margin-top: rem_ph(10px);
        
    }
    
    
        &:hover{
            
            .contacts__dropdown{
                left: -50%;
                opacity: 1;
                
                @include laptop{  
        
                    left: auto;
                    right: 0;
        
                }            


        }
    
    }
}

.contacts__link{
    
    text-decoration: none;
    color: $blue;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAECAYAAAC3OK7NAAAAbElEQVQImU3KMQ4BQQAAwFlHoqQip/CNq+8ZtvUHlV+odfuWu19o2ESh0AgiVummnrDpLgEzLHFKTf2E2OcJVnjjOsIULY5Y+1tgjy3mY7zQYYfzIN5wwAP3UEoR+xxQpab+DKLY5wolNfX3B3WFHaITOZDuAAAAAElFTkSuQmCC') 0 bottom repeat-x;
    @include fira(bold, rem(16px));
    transition: .5s all;
    
    
    @include phones{  
        
        background: none;
        content: "";
        
    }
    
    
    
    
}

.contacts__link:before {
    
    @include phones{
        
        content: "\f095";
        font-family: FontAwesome;
        font-size: rem_ph(40px);
        
    }
    
}

.contacts__link:hover{
    text-decoration: none;
    color: $red;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAECAYAAAC3OK7NAAAAaUlEQVQImU3KMQ5BMQAA0FefxMhUicFdXET9uIPJLcxNb+MYFoMOBosgokb/zS9cN9uAGRY4x5KfUFM/wRJv1BGmWCNj5S/igB3mY7xwwh6XQbzhiAfuobWmpj6giyV/BlFNfYcWS/7+ADgrHUSPBn2RAAAAAElFTkSuQmCC') 0 bottom repeat-x;
    
    
    @include phones{  
        
        background: none;
        
    }
}


.contacts__text{

    @include phones{  
        
        display: none;
        
    }
    
}


.contacts__dropdown{
    
    margin-top: rem(16px);
    position: absolute;
    z-index: 100;
    @include fira(light, rem(18px));
    top: 100%;
    left: -50%;
    background: #fff;
    border: 1px solid #dedede;
//    border-radius: 50%;
//    transition: .5s all;
    left: rem(-9999px);
//    visibility: hidden;
    border-radius: 10px;
    opacity: 0;

    transition: opacity .5s;
    
    &:before, &:after{
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        margin: auto;
        border: rem(9px) solid transparent;
        border-top: none;
        border-bottom: rem(14px) solid #dedede;
        
        
        @include laptop{  
        
            margin-right: rem(19px);
            
        }
        
        @include tablets{  
        
            margin-right: rem_tab(20px);
            
        }
        
        @include phones{  
        
            margin-right: rem_ph(11px);
            
        }
        
        
    }
    
    &:after{
        margin: auto;
        border: rem(7px) solid transparent;
        border-bottom: rem(12px) solid #fff;
        
        
        @include laptop{  
        
            margin-right: rem(21px);
            
        }
        
        @include tablets{  
        
            margin-right: rem_tab(21px);
            
        }
        
        @include phones{  
        
            margin-right: rem_ph(12px);
            
        }
    }
    
    
} 

.contacts__item{
    white-space: nowrap;
    padding: rem(10px) rem(15px);
    border-bottom: 1px solid #dedede;
}

.contacts_icon{
    margin-right: rem(10px);
    color: $blue;
    font-size: rem(18px);
}



