/* 
 * ======================================= HELLO =======================================
 */

.hello{
    text-align: center;
    min-width: 320px;
}

.hello:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.hello__container{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    margin: 80px auto 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #fff;
}

.hello__top{
    padding: 20px 20px 12px;
    text-align: center;
}

.hello__photo{
    
    width: 144px;
    height: 144px;
    border: 2px solid #dedede;
    border-radius: 50%;
    overflow: hidden;
    margin: -92px auto 16px;
}

.hello__photo-img{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.hello__name{
    display: block;
    @include fira(medium, 21px);
}

.hello__bottom{
    padding: 20px;
    background: $blue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.button {
	display: inline-block;
	border-radius: 50px;
	border: 2px solid;
	color: #f6f6f6;
	text-decoration: none;
	font-family: 'open_sanssemibold';
	font-size: 14px;
	padding: 9px 13px;
    transition: all .5s;
}
.button:hover {
	background-color: #fff;
	color: $blue;
    border: 2px solid #fff;
}