body, html {
	width: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	background: $background-color;
	line-height: 1.42;
	--webkit-font-smoothing: antialiased;

}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	min-width: $container-width+20px;
}

.wrapper:after {
	content: "";
	display: block;
	height: $footer-height;
}

.maincontent{
	padding-bottom: $footer-height;
}

.container {
	width: $container-width;
	margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}
}

p {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.footer {
	background: #ccc;
	height: $footer-height;
	margin-top: -$footer-height;
	width: 100%;
	min-width: $container-width;
}
