@mixin box-shadow($params) {
  box-shadow: $params;
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
}

%clearfix {
  &:after, &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin inlineblock($verticalalign: top) {
  display: inline-block;
  vertical-align: $verticalalign;
}

@mixin border-radius($size: 50px) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
}

