//vars
$background_color: #f6f6f6;
$blue: #33c1e3;
$container-width: 940px;
$footer-height: 50px;

// layout
@import "misc/fonts";
@import "misc/mixins";
@import "misc/adjustment";
@import "misc/normalize";

// styles

@import "sections/accordeon";
