.faq{
    
    padding: 105px 0 100px;
    color: #fff;
    min-height: 600px;
    background: linear-gradient(to top right, rgba(217, 60, 64, 0.9), rgba(169, 25, 31, 0.9)) no-repeat,
        url('../img/accordion-section/faq_cupcake.png') left bottom no-repeat,
        url('../img/accordion-section/faq_cookie.png') 10% 30% no-repeat,
        url('../img/accordion-section/faq_cupcake2.png') right bottom no-repeat,
        url('../img/accordion-section/faq_bagel.png') right top no-repeat,
        url('../img/accordion-section/faq_choco.png') 80% 135% no-repeat,
        url('../img/accordion-section/faq_nougat.png') 60% top no-repeat,
        url('../img/accordion-section/faq_choco2.png') left top no-repeat;
}

.accordion__item{
    list-style: decimal;
    cursor: pointer;
    font: 22px/34px Arial, sans-serif;
}

.accordion__item_active{
    
    color: #ffb100;
    
    .accordion__link{
        color: #ffb100;
        border: none;
    }
    
    
    
//    .accordion__content{
//        display: block;
//    }
}

.accordion__link{
    font: 22px Arial, sans-serif;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    display: inline-block;
    color: #fff;
    margin-bottom: 25px;
}

.accordion__link_active{
    border: none;
    color: #ffb100;
}

//.accordion__title_active{
//    border-bottom: 2px dashed #ffb100;
//}


.accordion__content{
    display: none;
}
.accordion__text{
    font: 16px Arial, sans-serif;
    color: #fff;
    transition: .6s ease-out;
    margin-bottom: 10px;
}