.delivery{
    background: url("../img/delivery-section/pattern.png") repeat, radial-gradient(at right bottom, #fcb406, #fdb111);
    padding: 90px 0;
}

.delivery__title{
    width: 100%;
    text-align: center;
    color: #393939;
    
}

.delivery-text{
    text-align: center;
    color: #883213;
    width: 775px;
    margin: 0 auto;
    font: 400 14px/1.2 Arial, sans-serif;
    margin-bottom: 35px;
}

.delivery-list{
    
}

.delivery-list__item{
    width: 24%;
    @include i-b();
}

.delivery-photo{
    width: 176px;
    height: 176px;
    position: relative;
    background: #e59e16;
    border-radius: 50%;
    margin: 0 auto;
}

.delivery-photo__img{
    max-height: 220px;
    max-width: 210px;
    position: absolute;
    left: -4%;
    bottom: -5px;
}

.delivery-photo__img-candy{

    left: -4%;
    bottom: 12px;
}


.delivery-photo__img-cookie{
    left: -4%;
    bottom: 16px;
}

.delivery-item-title{
    text-align: center;
    color: #393939;
    @include malina(25px);
}

.delivery-item-desc{
    text-align: center;
    color: #ab594a;
    font: 400 15px/1.2 Arial, sans-serif;
    margin-bottom: 25px;
}

