.footer__copyright, .footer__address{
    @include i-b();
    margin: 0 19px 0 0;
    color: #9c9c9c;
    font: 400 14px Arial, sans-serif;
}

.footer__address{
    @include i-b();
}

.control-block_footer{
    width: auto;
}

.control__facebook{
    max-width: 100%;
    max-height: 100%;
    background: url('../img/footer/sprite.png') 0 0 no-repeat;
    margin-right: 0;
    
    &:hover{
        background: url('../img/footer/sprite_hover.png') 0 0 no-repeat;
    }
}

.control__instagram{
    max-width: 100%;
    max-height: 100%;
    background: url('../img/footer/sprite.png') -42px 0 no-repeat;
    margin-right: 0;
    
    &:hover{
        background: url('../img/footer/sprite_hover.png') -42px 0 no-repeat;
    }
}

.control__odnoklassniki{
    max-width: 100%;
    max-height: 100%;
    background: url('../img/footer/sprite.png') -84px 0 no-repeat;
    margin-right: 0;
    
    &:hover{
        background: url('../img/footer/sprite_hover.png') -84px 0 no-repeat;
    }
}

.control__tw{
    max-width: 100%;
    max-height: 100%;
    background: url('../img/footer/sprite.png') -126px 0 no-repeat;
    margin-right: 0;
    
    &:hover{
        background: url('../img/footer/sprite_hover.png') -126px 0 no-repeat;
    }
}

.control__vk{
    max-width: 100%;
    max-height: 100%;
    background: url('../img/footer/sprite.png') -168px 0 no-repeat;
    margin-right: 0;
    
    &:hover{
        background: url('../img/footer/sprite_hover.png') -168px 0 no-repeat;
    }
}

