.products{
    color: #fff;
    background: radial-gradient(at bottom left, #e44245, #a4141a);
    padding-bottom: 50px;
}

.header{
    line-height: 90px;
    margin-bottom: 50px;
    width: 100%;
}

.logo{
    
    @include i-b();
//    margin-right: 95px;
    width: 30%;
}

.logo__picture-box{
    
    @include i-b();
    width: 80px;
    height: 66px;
    margin-right: 20px;
    
    
}

.logo__img{
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.logo__name{
    
    @include i-b();
    color: #fca210;
    font: 36px/90px 'als_malinaregular', sans-serif;
    
    
}

.nav{
    
   @include i-b(); 
    width: 50%;
    text-align: center;
    
}

.nav__item{
    
    @include i-b();
    margin-right: 35px;
    position: relative;
    
    &:hover{
        
        .nav__link{
            color: #fca210;
        }
        
        .nav__link__click{
            color: #fca210;
        }
        
        .nav__link__click:after{
            
            content: '';
            @include i-b(); 
            width: 3px;
            height: 3px;
            border-left: 1px solid #ffaf28;
            border-top: 1px solid #ffaf28;
            transform: translate(4px, 3px);
            position: absolute;
            right: 0;
            
        }
        
        .submenu{
            opacity: 0.9;
            left: 50%;
            margin-left: -113px;
        }
    }
    
}

.nav__link{
    text-decoration: none;
    color: #fff;
    font: 400 16px Arial, sans-serif;
}

.nav__link__click{
    @include i-b();
    width: 4px;
    height: 4px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(45deg) translate(0, -10px);
}

.submenu{
    position: absolute;
    width: 226px;
    left: -9999px;
    top: 90%;
    z-index: 100;
    opacity: 0;
    border-radius: 20px;
    background: #fff;
    padding: 40px 50px;
    transition: opacity .6s;
    padding: 40px 50px;
}

.submenu:before {
  content: '';
  position: absolute;
  left: 46%;
  top: -18px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.submenu__item{
    color: #000;
    font: 400 16px/32px Helvetica, sans-serif;
    position: relative;
    white-space: nowrap;
    
    
    &:hover{
        font: 700 16px/32px Helvetica, sans-serif;
        
        .submenu__link:before{
            border-left: 9px solid #fca210;
        }
    }
}

.submenu__link{
    text-decoration: none;
    color: #000;
    
}

.submenu__link:before{
    content: '';
    position: absolute;
    left: -50px;
    top: 25%;
    border: 9px solid transparent;
    
    
}


.control-block{
    
    @include i-b();
    width: 19%;
    text-align: right;
}

.control{
    
    @include i-b();
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 18px;
    background: url('../img/products-section/icons.png') 0 0 no-repeat;
}

.control__enter{
    
    max-width: 100%;
    max-height: 100%;
    
    &:hover{
        background: url('../img/products-section/icons_hover.png') 0 0 no-repeat;
    }
    
}

.control__search{
    
    max-width: 100%;
    max-height: 100%;
    background: url('../img/products-section/icons.png') -42px 0 no-repeat;
    margin-right: 0;
    
    &:hover{
        background: url('../img/products-section/icons_hover.png') -42px 0 no-repeat;
    }
    
}