.products__photo{
    position: relative;
    margin-right: 60px;
}

.products__photo__cake{
   
    width: 436px;
    height: 100%;
}

.products__photo__cake-img{
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.products__photo__shadow{
    
    width: 436px;
    height: 56px;
}

.products__photo__shadow-img{
    max-height: 100%;
    max-width: 100%;
    display: block;
}
