.slides-list{
    @extend %clearfix;
}
.slides-list__item{
    position: relative;
    transition: all .6s ease-out;
    margin: 0 0 0 -9999px;
//    @include i-b();
    float: left;
    
    
    
}
.slides-list__item_active{
    margin: 0;
    
    &:before{
        content: attr(background-letters);
        text-align: center;
        position: absolute;
        top: 20%;
        padding: 0 30px;
        display: block;
        color: rgba(255, 255, 255, 0.1);
        text-transform: uppercase;
        @include malina(150px);
    }
}

.products__info, .products__photo, .products__desc{
    @include i-b();
}

.products__info{
    width: 124px;
    margin-right: 50px;
    text-align: center;
}

.products__ingredients{
    margin: 0 auto 202px auto;
    position: relative;
    
     
    &:hover{
        
        .control__ingredient{
            background: url('../img/products-section/icons_hover.png') -84px 0 no-repeat;
        }
        
        .products__recipe-list{
            left: 100%;
            opacity: 0.9;
        }
    }
}


.control__ingredient{
    
    max-width: 100%;
    max-height: 100%;
    margin-right: 0px;
    background: url('../img/products-section/icons.png') -84px 0 no-repeat;
    
}

.products__recipe-list{
    position: absolute;
    width: 380px;
    z-index: 100;
    right: 9999px;
    top: -70px;
    background: #fff;
    border-radius: 20px;
    opacity: 0;
    padding: 40px 70px;
    text-align: left;
    transition: opacity 0.6s;
    
    &:before{
        content: '';
        position: absolute;
        right: 100%;
        top: 70px;
        border: 24px solid transparent;
        border-right: 12px solid #fff;
        
    }
}

.recipe-list__img{
    width: 20px;
    height: 20px;
}

.recipe-list__item{
    color: #4c4c4c;
    font: 400 16px/40px Helvetica, sans-serif;
}

.recipe-list__item__amount{
    position: absolute;
    right: 70px;
}

.ingredient__title{
    
    display: block;
    font: 400 13px/14px Helvetica, sans-serif;
}

products__shelf-time{
    margin: 0 auto;
}

.shelf-time__text{
    display: block;
    font: 400 13px/15px Arial, sans-serif;
}


.shelf-time__time{
    display: block;
    @include malina(24px);
}