.products__desc{
    width: 400px;
    font: 400 15px/21px Arial, sans-serif;
}

.title{
    @include malina(62px);
}

.title__products{
    margin-bottom: 15px;
}

.products__desc-text{
    margin-bottom: 15px;
}

.order__price{
    font: 62px/62px 'als_malinaregular', sans-serif;
    display: inline-block;
    vertical-align: middle;
}

.order__price-ruble{
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
    margin-right: 48px;
    background:  url('../img/products-section/ruble.png') no-repeat;
}

.btn{
    display: inline-block;
    vertical-align: middle;
    padding: 13px 23px;
    border-radius: 20px;
    text-decoration: none;
    font: 700 14px Arial, sans-serif;
    color: #641A00;
    background: #fca210;
    
    &:hover{
        color: #fca210;
        background: #641A00;
    }
    
}

.switch-list{
    text-align: center;
}

.switch-list__item{
    @include i-b();
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 32px;
}

.switch-list__item_active{
    background: #fca210;
}