.team{
    
    background: radial-gradient(at 20% 85%, #fcfbfb 35%, #cbcbcb);
    padding: 50px 0 100px;
    
}

.team__title{
    display: inline-block;
//    position: relative;
//    padding: 55px 0 0;
    color: #2b2f60;
    width: 325px;
}

.team-tabs{
    display: inline-block;
    position: relative;
    padding: 55px 0 0;
}

.team-list{
    display: inline-block;
    position: absolute;
    bottom: 100%;
    right: 0;
        
}

.team-list__item{
    
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    padding: 18px 28px 22px;
    border-radius: 20px;
    color: #8d8d8d;
    cursor: pointer;
}

.team-list__item_active{
    
    position: relative;
    background: #893213;
    color: #fff;
    
    .team-list__link{
        
        color: #fca210;
        
        
    }
    
    &:after{
        position: absolute;
        top: 100%;
        left: 41%;
        content: '';
        border: 20px solid transparent;
        border-top: 10px solid #893213;
    }
}

.team-list__link{
    text-decoration: none;
    color: #2b2f60;;
    @include malina(30px);
}

.team-list__title{
    font: 400 15px/1.2 Arial, sans-serif;
}

.team-content__item{
    transition: all .5s ease-in;
    color: #747474;
    display: none;
}

.team-content__item_active{
    display: block;
    max-height: 800px;
   
}

.team-content__left{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    font: 14px / 21px Arial, sans-serif;
}

.team-content__left-top{
    
    margin-bottom: 15px;
}

.team-content__center{
    width: 36%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    
    &:before{
        position: absolute;
        width: 50px;
        height: 41px;
        left: 20%;
        content: '';
        background: url("../img/team-section/quote.png") no-repeat;
    }
}

.team-content__center-img{
    display: block;
    max-width: 100%;
    max-height: 452px;
    margin: 0 auto;
}

.team-content__right{
    width: 36%;
    display: inline-block;
    vertical-align: top;
    font: 14px / 21px Arial, sans-serif;
}

.team-content__right-top{
    
    margin-bottom: 15px;
}

