.form{
    
    position: relative;
    margin: 0 auto;
    color: #fff;
    width: 843px;
    background: url('../img/team-section/team_choco.png') center center no-repeat;
    border-radius: 20px;
    @extend %clearfix;
}

.form__left{
    
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 40%;
    margin: auto;
    @include malina(64px);
    text-align: center;
    
}

.form__right{
    
    float: right;
    height: 100%;
    padding: 80px 80px;
    background: rgba(29, 29, 32, 0.6);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form__input{
    display: block;
    height: 35px;
    margin: 0 0 35px;
    color: #fff;
    background: transparent;
    font: 400 16px / 21.67px Arial, sans-serif;
    border: none;
    border-bottom: 1px solid #fff;
}

.form__submit{
    
    display: block;
    position: absolute;
    bottom: -48px;
    right: -48px;
    width: 96px;
    height: 96px;
    border: none;
    border-radius: 50%;
    background: url('../img/team-section/arrow.png') center no-repeat, #ffb100;
}

    