.tasty{
    background: url("../img/why-section/whychef.png") no-repeat 75% bottom, radial-gradient(at 70% 58%, #fefefe, #c8c8c8);
    padding: 115px 0;

    
}

.tasty-container{
    width: 62%;
}

.tasty__desc{
    width: 60%;
    margin-bottom: 60px;
}

.title__tasty{
    color: #2b2f5f;
    margin-bottom: 20px;
    line-height: 1.12;
}

.tasty-item{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.tasty-item__icon{
    height: 90px;
    width: 90px;
    position: relative;
   
    margin-bottom: 10px;
    
    &:before{
        content: '';
        position: absolute;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: #000;
        opacity: .1;
        left: 10%;
        top: -10%;
    }
    
    
    
}

.tasty-item__icon__img{
    
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    
    
    
}

.tasty-item__text{
    width: 140px;
    @include malina(16px);
    color: #747474;

}




