// adjustment vars

//$footer-height: 50px;
$container-width: 1100px;


// adjustment styles
html{
    font-size: 16px;
}
body, html{
    height: 100%;
    width: 100%;
}

*{
    box-sizing: border-box;
}

body{
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
	background: $white;
    min-width: 320px;
}

.wrapper{
    min-height: 100%;
    min-width: 1100px;
    position: relative;
    

}

//.wrapper:after{
//    content: "";
//    display: block;
//    height: $footer-height;
//    overflow: hidden;
//}
	

.container{
   max-width: $container-width;
   margin: 0 auto;
   padding: 0 10px;
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

//footer{
//    height: $footer-height;
//    width: 100%;
//    margin-top: -$footer-height;
//    position: relative; 
//}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}