body{
    margin: 0;
    padding: 0;
}

.wrap{
    
    width: 960px;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif; 
    overflow: hidden; 
}

p{
    text-align: justify; 
}

.preface{
    
    font-size: 20px;
    text-align: center;
}

.empty {
    height: 150px;
}

.main_line_down{
    height: 2px;
    width: 80%;
    background: #4b433f;
    margin: 10px auto;
    
}

.button_preface{
    
    margin-top: 40px;
    text-align: center;
    font: 25px 'Open Sans Condensed', sans-serif;
    
    
}

.button_go{
     text-decoration: none;
     color:#000;
     border: 1px groove;
     padding: 10px 20px 10px 20px;
}

.button_go:hover{
     text-decoration: underline;
}

.button_text{
    
    margin-top: 10px;
    text-align: center;
    font: 20px 'Open Sans Condensed', sans-serif;
    
}
   
.button_back{
     text-decoration: none;
     color:#000;
     padding: 10px 20px 10px 20px;
}

.button_back:hover{
     text-decoration: underline;
}

