.accordeon {
  width: 460px;
  margin: 100px;
  position: relative;
}

.accordeon__logo {
  padding-top: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.accordeon__trigger {
  text-decoration: none;
  color: #ffffff;
  background-color: #696666;
  display: block;
  padding: 11px 20px;
  @include fira(regular, 15px);
  @include border-radius(50px);
  transition: .4s;

  &:hover {

    color: #ffffff;
    background-color: #ff8663;

  }
}

.accordeon__triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid #ff8663;
  position: absolute;
  margin-top: 9px;
  right: 16px;

}

.accordeon__triangle_active {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: 0 solid #ff8663;
  border-bottom: 14px solid #ffffff;
}

.accordeon__trigger_grey {
  background-color: #e7e7e7;
  color: #4f4f4f
}

.accordeon__trigger_active {
  color: #ffffff;
  background-color: #ff8663;
}

.accordeon__inner {
  margin-left: 20px;
}

.accordeon__item {
  margin-bottom: 15px;
  background-color: #e7e7e7;
  @include border-radius(20px);
}

.accordeon__inner-link {
  @include fira(light, 15px);
  margin-bottom: 15px;
  text-decoration: none;
  color: #4f4f4f
}

.accordeon__inner-item {
  list-style: disc;
  margin-bottom: 2px;
}

.accordeon__inner {
  //display: none;
  max-height: 0;
  transition: max-height .4s ease-out;
  overflow: hidden;
}

.accordeon__inner_active {
  //display: block;

}

